body {
    font-family: sans-serif;
    font-size: 18px;
}

.tools{
    clear: both;
    padding-top: 50px;
}

.site-links{
    padding-top: 20px;
    display: inline-block;
}

.site-links a{
    padding-left: 20px;
}

.product-box{
    color: #2196F3;
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 20px;
}

.product-box:hover{
    background-color: #eee;
    border: 1px solid #ccc;
}

a:hover{
    text-decoration: none;
}

.store {
    padding-right: 15px;
}

.priceBlock {
    float:left;
    width:220px;
}

.price {
    width: 100px;
}

.format {
    width: 180px;
}

.bigBox {
    clear: both;
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.newsletter-tool {
    float:left;width:50%;padding:20px;
}

.output-wrapper {
    float: left;width: 47%;padding: 0px;
}

#cke_quine , #cke_1_top {
    display: none;
}

.cke_contents {
    min-height: 500px;
}

#quine{
    width: 100%;
    clear: both;
    display: block;
    min-height: 400px;
}